
    <div class="mdl-grid site-max-width">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
       <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Login Kids</h1>
          </div>

    <div class="mdl-grid site-copy">
        <div class="mdl-cell mdl-cell--12-col"><div class="mdl-card__supporting-text">
    <p>Contact our team using the contact form below:</p>
    <form #ki="ngForm" (ngSubmit)="LoginKids(ki.value)" class="form-contact">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" [(ngModel)]="username" name="username" type="text" ngModel required >
    <label class="mdl-textfield__label" for="username">Username...</label>
    <span class="mdl-textfield__error">Letters and spaces only</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" [(ngModel)]="pin" name="pin" type="pin" ngModel required >
    <label class="mdl-textfield__label" for="pin">Pin...</label>
    </div>
    
    <p>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
      Submit
    </button>
    </p>
    </form>

    <div class="alert" *ngIf="danger" >
      <span class="closebtn" (click)="danger = false"> X </span> {{mensaje}}
      </div>
    
      <div class="alertpass" *ngIf="pass">
      <span class="closebtn" (click)="pass = false"> X </span> {{mensaje}}
      </div>
    
      <div class="alertw" *ngIf="war"> 
      <span class="closebtn" (click)="war = false"> X </span> {{mensaje}}
      </div>
      
    </div></div>
      </div>
    </div>
    </div>