
    <div class="mdl-grid site-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp page-content">
   <div class="mdl-card__title">
        <h1 class="mdl-card__title-text">VIDEOS</h1> 
      </div>
<div class="mdl-grid site-copy">
    <div class="mdl-cell mdl-cell--12-col"><div class="mdl-card__supporting-text">
<p>Contact our team using the contact form below:</p>
<form #ki="ngForm" (ngSubmit)="videOn(ki.value)" class="form-contact">
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" [(ngModel)]="name" name="name" type="name" ngModel required >
<label class="mdl-textfield__label" for="name">Name...</label>
<span class="mdl-textfield__error">Letters and spaces only</span>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
<input class="mdl-textfield__input" [(ngModel)]="url" name="url" type=text ngModel required >
<label class="mdl-textfield__label" for="url">Url...</label>
</div>

<p>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
  Submit
</button>
</p>
</form>

<div class="alert" *ngIf="danger" >
	<span class="closebtn" (click)="danger = false"> X </span> {{mensaje}}
  </div>

  <div class="alertpass" *ngIf="pass">
	<span class="closebtn" (click)="pass = false"> X </span> {{mensaje}}
  </div>

  <div class="alertw" *ngIf="war"> 
	<span class="closebtn" (click)="war = false"> X </span> {{mensaje}}
  </div>

</div></div>
  </div>
</div>
</div>








<div class="site-content"  >
        

        <div class="container" ><div class="mdl-grid site-max-width"  >
        


  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" *ngFor="let vin of VideoService.videoss" >
      <div class="mdl-card__media">
            <iframe width="200" height="250" [src]="getUrl(vin)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="mdl-card__title">
          <h5 class="mdl-card__title-text"> {{vin.name}} </h5>
      </div>
     <br>        <div class="mdl-card__actions mdl-card--border">
            <a (click)="deleteVideo(vin._id)" ><i class="material-icons">  delete_forever   </i></a>
     
      </div>
  </div><br>
  
</div></div>
</div>

